## .NET
backend/**/bin/
backend/**/obj/
*.user

## Node
node_modules/
frontend/**/.next/
frontend/**/out/
frontend/**/dist/

## Env
.env
.env.local
*.env

## OS
.DS_Store
Thumbs.db

## IDE
.vs/
.vscode/
.idea/
